.container {
    display: grid;
    gap: 15px;
    padding: 15px;

     grid-template-areas:
        "header"
        "top-aside"
        "main"
        "bottom-aside"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.top-aside {
    grid-area: top-aside;
}

.bottom-aside {
    grid-area: bottom-aside;
}

footer {
    grid-area: footer;
}

main {
    display: grid;
    gap: 10px;
}

header {
    background: purple;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

main {
    background: lightgreen;
    padding: 15px;
    border-radius: 10px;
}

article {
    background: hotpink;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.top-aside {
    background: blue;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.bottom-aside {
    background: turquoise;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

footer{
    background: orange;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* DESKTOP */
@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "top-aside main bottom-aside"
            "footer footer footer";
    }

     .top-aside {
        align-content: center;
    }

     .bottom-aside {
        align-content: center;
    }

    main {
        display: grid;
        align-content: center;
    }
}