.container {
    display: grid;
    gap: 15px;
    padding: 15px;

    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

main {
    display: grid;
    gap: 10px;
}

header {
    background: purple;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

main {
    background: lightgreen;
    padding: 15px;
    border-radius: 10px;
}

article {
    background: hotpink;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

aside {
    background: blue;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

footer{
    background: orange;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}